.about-us-main-container {
    background-color: #85e0d6;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-us-section > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 40px;
    word-wrap: break-word;
}

#about-friends {
    border-radius: 50%;
    max-width: 43px;
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.about-us-section {
    color: black;
    margin: 10px;
}
.about-us-section > p {
    font-size: medium;
    text-indent: 3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 75%;

    min-height: 100vh;
    max-height: 100%;
    padding: 0px 2.5rem;
    padding-bottom: 50px;
}

#hiking {
    float:right;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 3px 10px black;

}
