#logo {
  width: min(200px, 340px);
  height: 100%;
  filter: brightness(1.2)
}



#nav-pfp {
  height: 30px;
  margin-right: 5px;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

#username-text {
  margin: 0px 5px;
  color:blue;
  font-weight:600;
  text-decoration-line: underline;
}
