
#pfp {
    width: 260px;
    height: 150px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.recommendations {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
}
