.recommendation {
  height: fit-content;
  width: clamp(400px, 90%, 720px);
  padding: 20px;
  margin: 50px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.recommendation-form {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #85e0d6;
  min-height: 100vh;
  max-height: 100%;
}

#interest,
#location {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.recomendation-text {
  margin: 10px 0;
  color: white;
  font-weight: bold;
  text-align: left;
}

.save form {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.save button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.save button span {
  position: absolute;
  display: block;
}

#spinner {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 3.5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
