.Hero {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}

.Herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

.Hero-text {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: black;
}

.Sign-up {
  padding: 1em;
  transform: translate(-50%, -50%);
  color: black;
}

.Login {
  padding: 1em;
  transform: translate(-50%, -50%);
  color: black;
}

.whatever {
  margin-right: 10px;
}
